#body {
  background-color:rgba(245,245,245,1);
}
#header {
  text-align:center;
}
#nav ul {
  margin-left: -2.5em;
}
#nav li {
  list-style-type: none;
  text-align: justify;
  float: left;
  background-color: black;
}
#nav a {
  text-decoration: none;
  display: block;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 150%;
  font-weight: bold;
  color: white;
}
#nav a:hover {
  color:blue;
} 
